@using CMS.Helpers
@using XperienceCommunity.HCaptcha.Components.FormComponents
@using Kentico.Forms.Web.Mvc
@using Kentico.Web.Mvc

@model HCaptchaFormComponent

@{
    var htmlAttributes = ViewData.Kentico().GetEditorHtmlAttributes();
    var safeComponentId = Html.IdFor(x => x.Value).ToString().Replace("-", "_");
    var renderFunctionName = "renderHCaptcha" + safeComponentId;
    var hcaptchaDivId = "hcaptcha-" + Html.IdFor(x => x.Value);
}

@if (Model.IsConfigured)
{
    <script>
        (function () {
            'use strict';
            function renderHCaptcha() {
                window.hcaptcha.render('@hcaptchaDivId', {
                    'sitekey': '@Model.PublicKey',
                    'theme': '@Model.Properties.Theme',
                    'size': '@Model.Properties.Layout',
                });
            };
            if (window.hcaptchaScriptStatus === 'LOADED') {
                renderHCaptcha();
                return;
            }
            window.hcaptchatoload = window.hcaptchatoload || [];
            if (window.hcaptchaScriptStatus === 'LOADING') {
                window.hcaptchatoload.push(renderHCaptcha);
                return;
            }
            if (window.hcaptchaScriptStatus !== 'LOADING' && window.hcaptchaScriptStatus !== 'LOADED') {
                window.hcaptchaScriptStatus = 'LOADING';
                window.hcaptchatoload.push(renderHCaptcha);
                var script = document.createElement("script");
                script.src = "https://js.hcaptcha.com/1/api.js?render=explicit&hl=@Model.Language";
                script.addEventListener('load', function (e) {
                    window.hcaptchaScriptStatus = 'LOADED';
                    for (var i = 0; i < window.hcaptchatoload.length; i++) {
                        window.hcaptchatoload[i]();
                    }
                });

                document.head.appendChild(script);
                return;
            }
        })();
    </script>

    @Html.HiddenFor(m => m.Value, htmlAttributes)
    <div id="@hcaptchaDivId"></div>
}
else
{
    <div class="ktc-form-builder-mvc-invalid-component">
        <span>@ResHelper.GetString("xperiencecommunity.formbuilder.component.hcaptcha.error.invalidconfiguration")</span>
    </div>
}